<div class="HEADERTOP2">
    <div class="pageTop">
        <div class="wrap_mar clear">
            <ul class="fl1 pageTop-left">
                <li><a style="padding-left:0;" href="#"><i class="zongIcon i6 fl1"></i>首页</a>|</li>
                <li><a href="#">CAE中国加盟展</a>|</li>
                <li><a href="#">排行榜</a>|</li>
                <li><a href="#">城市站</a>|</li>
                <li><a href="#">创业</a>|</li>
                <li><a href="#">代理</a>|</li>
                <li><a href="#">连锁</a>|</li>
                <li><a href="#">商机</a></li>
            </ul>
            <div class="fr1 pageTop-right">
                <ul class="fr1 phonrLoad">
                    <li class="li0 li0_1">
                        <i class="zongIcon i83 fl1"></i><em class="fl1">7*13小时加盟管家热线：4000-500-555</em>
                        <div class="reXian_boxwai" style="display: none;">
                            <img alt="" src="../../public/images/reLine.png">
                        </div>
                    </li>
                    <li class="li1">
                        <a href="#">
					<i class="zongIcon i8 fl1"></i><em class="fl1">手机版</em>
					<div class="phone_boxwai">
						<img alt="" src="http://image1.jmw.com.cn/newzonghe/images/erwei2.png">
					</div>
					</a>
                    </li>
                    <li class="li2">
                        <i class="zongIcon i7 fl1"></i><em class="fl1">微信</em>
                        <div class="weiXin_boxwai">
                            <img alt="" src="http://image1.jmw.com.cn/newzonghe/images/weiXIn.png">
                        </div>
                    </li>
                    <li class="webNav"><i class="zongIcon i9 fr1"></i><em class="fr1">网站导航</em>
                        <div style="display: none;" id="dorpdown_layer1" class="pa dorpdown_layer clear">
                            <dl class="fl1 good_food">
                                <dt><a title="美食加盟" target="_blank" style="font-size:12px;height:25px;line-height:25px;color:#df0303;" href="#">美食</a></dt>
                                <dd>
                                    <a href="#">火锅</a><a href="#">饮品</a><a href="#">拉面</a><a href="#">快餐</a><a href="#">小吃</a><a href="#">西餐</a><a href="#">茶叶</a><a href="#">烧烤</a><a href="#">熟食</a><a href="#">餐具</a><a href="#">香锅</a><a href="#">甜品</a><a href="#">面食</a><a href="#">咖啡</a><a href="#">面包房</a><a href="#">烘焙</a><a href="#">麻辣烫</a><a href="#">冒菜</a><a href="#">烤鱼</a><a t href="#">冰淇淋</a><a href="#">小吃车</a><a href="#">茶餐厅</a><a href="#">日韩料理</a><a href="#">鸭脖</a><a href="#">自助餐</a><a href="#">精品餐饮</a>
                                </dd>

                            </dl>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top: 50px; ">
    </div>
  <div class="twoPart"> 
		<div class="wrap_mar clear"> 
			<a href="#" title="中国加盟网首页" target="_blank" class="fl1 logo">
				<img src="http://image1.jmw.com.cn/haibao/images/logo1.png" alt="">
			</a>
			<ul class="fr1"> 
				<li>
					<p>
						<a href="#" >餐饮</a>
	                    <a href="#">快餐</a>
	                    <a href="#" >小吃</a>
	                    <a href="#" >火锅</a>
					</p>
					<p>
						<a href="#" >饮品</a>
	                    <a href="#">甜品</a>
	                    <a href="#" >茶叶</a>
	                    <a href="#">烧烤</a>
					</p>
				</li>
				<font class="fl1"></font>
				<li>
					<p>
						<a href="#">教育</a>
	                    <a href="#">英语</a>
	                    <a href="#">潜能</a>
	                    <a href="#">1对1辅导</a>
					</p>
					<p>
						<a href="#">作文</a>
	                    <a href="#">艺术</a>
	                    <a href="#">培训</a>
	                    <a href="#">机器人教育</a>
					</p>
				</li>
				<font class="fl1"></font>
				<li>
					<p>
						<a href="#">幼儿</a>
	                    <a href="#">早教</a>
	                    <a href="#">母婴</a>
	                    <a href="#">幼儿园</a>
					</p>
					<p>
						<a href="#">美容</a>
	                    <a href="#">保健养生</a>
	                    <a href="#">化妆品</a>
					</p>
				</li>
				<font class="fl1"></font>
				<li>
					<p>
						<a href="#">服装</a>
	                    <a href="#">内衣</a>
	                    <a href="#">干洗</a>
	                    <a href="#">洗衣</a>
					</p>
					<p>
						<a href="#">家居</a>
	                    <a href="#">软装</a>
	                    <a href="#">卫浴</a>
	                    <a href="#">建材</a>
					</p>
				</li>
				<font class="fl1"></font>
				<li>
					<p>
						<a href="#">酒店</a>
	                    <a href="#">环保</a>
	                    <a href="#">酒水</a>
					</p>
					<p>
						<a href="#">汽车</a>
	                    <a href="#">珠宝</a>
	                    <a href="#" style="margin-right:0;">精品</a>
					</p>
				</li>
			</ul>
		</div>
	</div>  
</div>
