<article>
    <div class="HEADER">
        <div class="barWrap">
            <div class="bar">
                <ul class="barLeft">
                    <li class="homeImg"><a href="#"><img src="../../public/images/home_02.png"></a></li>
                    <li><a href="#">首页</a><span>|</span></li>
                    <li><a href="#">CAE中国加盟展</a><span>|</span></li>
                    <li><a href="#">排行榜</a><span>|</span></li>
                    <li><a href="#">城市站</a><span>|</span></li>
                    <li><a href="#">创业</a><span>|</span></li>
                    <li><a href="#">代理</a><span>|</span></li>
                    <li><a href="#">连锁</a><span>|</span></li>
                    <li><a href="#">商机</a></li>
                </ul>
                <div class="barMiddle headerHover">
                    <img src="../../public/images/tel_03.png">
                    <span>7*13小时加盟管家热线：4000-500-***</span>
                    <div class="headerShow barMiddleShow">广告投放热线：400-***-***</div>
                </div>
                <ul class="barRight">
                    <li class="headerHover">
                        <a href="#"><img src="../../public/images/app_02.png"><span>手机端</span></a>
                        <div class="headerShow"><img src="../../public/images/logo_03.jpg"></div>
                    </li>
                    <li class="headerHover"><img src="../../public/images/wx.png"><span>微信</span>
                        <div class="headerShow"><img src="../../public/images/logo_03.jpg"></div>
                    </li>
                    <li class="headerHover"><img src="../../public/images/wb.png"><span>微博</span>
                        <div class="headerShow"><img src="../../public/images/logo_03.jpg"></div>
                    </li>
                    <li class="barNav headerHover">
                        <a href="#">网站导航&gt;</a>
                        <div class="headerShow">
                            <dl>
                                <dt><a href="#">美食</a></dt>
                                <dd>
                                    <a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a>
                                </dd>
                                @@for(var i =0;i
                                <4;i++){ <dt><a href="#">美食</a></dt>
                                    <dd>
                                        <a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a><a href="#">美食</a>
                                    </dd>
                                    }
                            </dl>
                            @@for(var i =0;i
                            <3;i++){ <dl>
                                <dt>
                                        <a href="#">美食</a>
                                    </dt>
                                <dd>
                                    <a href="#">美食</a> @@for(var i=0; i
                                    <20;i++){ <a href="#">美食</a>
                                        }
                                </dd>
                                @@for(var i =0;i
                                <4;i++){ <dt>
                                    <a href="#">美食</a>
                                    </dt>
                                    <dd>
                                        <a href="#">美食</a> @@for(var i=0; i
                                        <20;i++){ <a href="#">美食</a>
                                            }
                                    </dd>
                                    }
                                    </dl>
                                    }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="trade">
            <div class="tradeItem left">
                <div class="tradeImg"><img src="../../public/images/002_03.jpg">
                    <p>热门<br/>话题</p>
                </div>
                <div class="tradeList">
                    <img src="../../public/images/001_03.png">
                    <a href="#">加盟头条</a>
                    <a href="#">加盟品牌排行</a>
                    <a href="#">地方分站</a>
                    <a href="#">中国加盟展·上海站</a>
                    <a href="#">大众美食</a>
                    <a href="#">母婴护理专区</a>
                    <a href="#">早教加盟</a>
                    <a href="#">新领域--机器人</a>
                </div>
            </div>
            <div class="tradeItem right">
                <div class="tradeImg"><img src="../../public/images/003_06.jpg">
                    <p>行业<br/>大全</p>
                </div>
                <div class="tradeList">
                    <img src="../../public/images/001_03.png">
                    <a href="#">餐饮</a>
                    <a href="#">酒店</a>
                    <a href="#">干洗</a>
                    <a href="#">教育</a>
                    <a href="#">幼儿</a>
                    <a href="#">美容</a>
                    <a href="#">服装</a>
                    <a href="#">珠宝</a>
                    <a href="#">饰品</a>
                    <a href="#">家具</a>
                    <a href="#">家纺</a>
                    <a href="#">环保</a>
                    <a href="#">建材</a>
                    <a href="#">五金</a>
                    <a href="#">宠物店</a>

                    <a href="#">金融</a>
                    <a href="#">汽车</a>
                    <a href="#">健身</a>
                    <a href="#">食品</a>
                    <a href="#">零售</a>
                    <a href="#">超市</a>
                    <a href="#">娱乐</a>
                    <a href="#">数码</a>
                    <a href="#">家电</a>
                    <a href="#">服务</a>
                    <a href="#">众筹</a>
                    <a href="#">精品</a>
                    <a href="#">酒水</a>
                    <a href="#">微商</a>
                    <a href="#">新行业</a>
                </div>
            </div>
        </div>
        <div class="logoWrap">
            <div class="logoLeft">
                <div class="logo">

                    <img src="../../public/images/logo_03.jpg">
                </div>
                <div class="logoBt">
                    <h1>优胜科学派加盟</h1>
                    <img src="../../public/images/004_06.jpg">
                </div>
            </div>
            <div class="logoRight">
                <div class="logoaImg">
                    <span>商机</span>
                    <img src="../../public/images/005.png">
                    <div class="ShaoJiShow">
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                        <a href="#">asdf</a>
                    </div>
                </div>
                <div class="logaoInput">
                    <input type="text" placeholder="请输入关键词">
                    <button><img src="../../public/images/sousuo.png"><span>搜索</span></button>
                </div>
            </div>
        </div>
        <div class="topNavWrap">
            <div class="topNav">
                <ul>
                    <li><a href="#" class="on">品牌首页</a></li>
                    <li><a href="#">项目介绍</a></li>
                    <li><a href="#">加盟优势</a></li>
                    <li><a href="#">品牌图库</a></li>
                    <li> <a href="#">品牌资讯</a></li>
                    <li><a href="#">加盟问答</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li ><a href="#">官方网站</a><img src="../../public/images/new.png" alt=""></li>
                </ul>
                <div class="gd">
                    <p>更多<img src="../../public/images/bottomJian.png"></p>
                    <div style="display: none" class="listShow">
                        <a href="#">公司介绍</a>
                        <a href="#">资质核实</a>
                        <a href="#">成功案例</a>
                        <a href="#">加盟店</a>
                        <a href="#">品牌口碑</a>
                        <a href="#">网友点评</a>
                        <a href="#">加盟问答</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="XiaoNav">
            <div class="XiaoNavLeft">
                <a href="#">中国加盟网首页 <span>&gt;</span></a>
                <a href="#">教育 <span>&gt;</span></a>
                <a href="#">机器人教育 <span>&gt;</span></a>
                <a href="#">优胜科学派</a>
                <img src="../../public/images/guanJia.gif">
            </div>
            <div class="XiaoNavRight">
                <a href="#">总申请：7493人</a>
                <a href="#">近30天申请：147人</a>
                <a href="#">总访问：38479008人</a>
                <a href="#">最近访问：876人</a>
                <a href="#"><img src="../../public/images/paiming.png">本月排名：62</a>
            </div>
        </div>

    </div>

    <script>
        $('.HEADER .headerHover').each(function(index) {
            $(this).hover(function() {
                $('.HEADER .headerShow').eq(index).show();
            }, function() {
                $('.HEADER .headerShow').eq(index).hide();
            });
        });
        $('.HEADER .logoaImg').click(function() {
            $('.HEADER .ShaoJiShow').toggle();
        });
       $('.HEADER .topNavWrap .topNav .gd').hover(function(){
           $('.HEADER .topNavWrap .topNav .listShow').show()
       },function(){
            $('.HEADER .topNavWrap .topNav .listShow').hide()
       });
    </script>
</article>
