    <div class="MESSAGE_ADD">
        <div class="MESSAGE_ADD_bt">
            <h3>这些创业投资者<span>咨询了廖排骨</span></h3>
            <div class="MESSAGE_ADD_tel"><img src="../../public/images/3002_03.jpg"><em>全国免费电话</em><i>4000-000-000</i></div>
        </div>
        <div class="MESSAGE_ADD_wrap">
            <div class="left">
                <p>加盟六步法</p>
                <ul>
                    <li class="item-1"><i></i><span>直营店考察</span><em>(具备可经营性)</em></li>
                    <li class="item-2"><i></i><span>加盟店考察</span><em>(具备可复制性)</em></li>
                    <li class="item-3"><i></i><span>店面选址方式</span></li>
                    <li class="item-4"><i></i><span>总部培训方式</span></li>
                    <li class="item-5"><i></i><span>产品研发能力</span></li>
                    <li class="item-6"><i></i><span>店面选址方式</span></li>
                </ul>
                <div class="chanQuan">中国加盟网已获知识产权<br>登记号：国作登字-2018-A-00435037</div>
            </div>
            <div class="right">
                <form action="">
                    <textarea name="content" cols="30" rows="10" placeholder="请输入或选择咨询内容" class="MESSAGE_ADD_text"></textarea>
                    <p class="input_p clear">
                        <span class="span1 fl1" style="letter-spacing:10px;">姓名</span>
                        <input type="text" maxlength="5" class="txt">
                        <font class="fr1">性别
                            <span class="radio_box"><input type="radio" id="radio_1" name="radio" checked="checked"><label for="radio_1"></label><em>男</em></span>
                            <span class="radio_box"><input type="radio" id="radio_2" name="radio"><label for="radio_2"></label><em>女</em></span>
                        </font>
                    </p>
                    <p class="input_p clear">
                        <span class="span1 fl1" style="letter-spacing:10px;">手机</span>

                        <input type="text" name="mobile" id="mobile" maxlength="11" value="请输入您的手机" class="txt">
                    </p>
                    <p class="input_p clear">
                        <span class="span1 fl1">验证码</span>
                        <input type="text" id="message_code" maxlength="4" value="请输入验证码" class="txt">
                        <input class="span2 fr1" type="button" id="butn" value="获取验证码">
                    </p>
                    <p class="sub_ziXun">
                        <input id="tijiaoliuyan" class="btn" type="button" value="提交咨询">
                    </p>
                </form>
                <div class="select_yixiang fr1">
                    <p class="jiao"></p>
                    <p class="ninTitle">您可以根据意向选择下列 <em>[快捷留言]</em></p>
                    <ul>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">朵语养发馆项目很好，请尽快联系我详谈。</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">请问我所在的地区有朵语养发馆加盟商了吗？</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">留下邮箱，请将朵语养发馆详细资料邮件给我。</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">想了解朵语养发馆的加盟流程，请与我联系！</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">做为朵语养发馆的代理加盟商能得到哪些支持？</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">请问投资朵语养发馆所需要的费用有哪些？</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">我想加盟朵语养发馆，请电话联系我。</a></li>
                        <li><a href="javascript:void(0)" onclick="MESSAGECLICK(this.innerText)">朵语养发馆加盟，有什么优惠？</a></li>
                    </ul>
                </div>
            </div>
            <script>
                 function MESSAGECLICK(text){
                    $('.MESSAGE_ADD_text').val(text)
                 }
            </script>
        </div>
    </div>