<div class="RIGHTDY">
    <div class="company">
        <div class="companyBt">
            <div class="companyBtLeft"><img src="../../public/images/0010_03.png"></div>
            <strong>公司名称</strong>
            <div class="companyBtR"><img src="../../public/images/0021_03.jpg"></div>
        </div>
        <ul>
            <li>
                <img src="../../public/images/4001_07.jpg">
                <span>企业名称：</span>
                <div>企业名称</div>
            </li>
            <li>
                <img src="../../public/images/4002_07.jpg">
                <span>注册资金：</span>
                <div>注册资金</div>
            </li>
            <li>
                <img src="../../public/images/4003_07.jpg">
                <span>企业地址：</span>
                <div>企业地址:</div>
            </li>
            <li>
                <img src="../../public/images/4004_07.jpg">
                <span>成立时间：</span>
                <div>成立时间:</div>
            </li>
            <li>
                <img src="../../public/images/4005_07.jpg">
                <span>企业资质：</span>
                <div>企业资质</div>
            </li>
        </ul>
    </div>
    <div class="pinPiaJiaoJu">
        <div class="companyBt">
            <div class="companyBtLeft">
                <img src="../../public/images/4006_11.jpg">
            </div>
            <strong>品牌聚焦</strong>
        </div>
        <ul>
            <li>
                <a href="">
                        <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                        <div>
                            <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                            <span><img src="../../public/images/y_03">49人咨询</span>
                            <em>佳美留学</em>
                        </div>
                    </a>
            </li>
            <li>
                <a href="">
                        <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                        <div>
                            <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                            <span><img src="../../public/images/y_03">49人咨询</span>
                            <em>佳美留学</em>
                        </div>
                    </a>
            </li>

            <li>
                <a href="">
                        <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                        <div>
                            <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                            <span><img src="../../public/images/y_03">49人咨询</span>
                            <em>佳美留学</em>
                        </div>
                    </a>
            </li>
        </ul>
    </div>
    <div class="jiamengwd">
        <div class="companyBt">
            <div class="companyBtLeft">
                <img src="../../public/images/4006_11.jpg">
            </div>
            <strong>加盟问答</strong>
            <div class="companyBtR">
                <a href="#"><img src="../../public/images/4007_15.jpg" >我要咨询</a>
            </div>
        </div>
        <div class="wyzx">
            <a href="#"><img src="../../public/images/5001_03.jpg"></a>
        </div>
        <ul>
            <li><a href=""><img src="../../public/images/4008_19.jpg"><span>问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答</span></a></li>
            <li><a href=""><img src="../../public/images/4008_19.jpg"><span>问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答</span></a></li>
            <li><a href=""><img src="../../public/images/4008_19.jpg"><span>问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答</span></a></li>
            <li><a href=""><img src="../../public/images/4008_19.jpg"><span>问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答</span></a></li>
            <li><a href=""><img src="../../public/images/4008_19.jpg"><span>问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答问答</span></a></li>

        </ul>
    </div>
    <div class="zaozhidao">
        <div class="companyBt">
            <div class="companyBtLeft">
                <img src="../../public/images/4009_03.jpg">
            </div>
            <strong>加盟早知道</strong>
        </div>
        <div class="zzdList">
            <div class="bd">
                <ul>
                    <li> <a href="#">04月25号7:20<span>廖排骨</span>发布动态<span>廖排骨廖排骨廖排骨廖排骨廖排骨廖排骨</span></a></li>
                    <li> <a href="#">04月25号7:20<span>廖排骨</span>发布动态<span>廖排骨廖排骨廖排骨廖排骨廖排骨廖排骨</span></a></li>
                    <li> <a href="#">04月25号7:20<span>廖排骨</span>发布动态<span>廖排骨廖排骨廖排骨廖排骨廖排骨廖排骨</span></a></li>
                    <li> <a href="#">04月25号7:20<span>廖排骨</span>发布动态<span>廖排骨廖排骨廖排骨廖排骨廖排骨廖排骨</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jiamengGj">
        <div class="companyBt">
            <div class="companyBtLeft">
                <img src="../../public/images/4010_07.jpg">
            </div>
            <strong>加盟问答</strong>
            <div class="companyBtR">
                <a href="#">
                        <img src="../../public/images/huan.png">换一换</a>
            </div>
        </div>
        <ul>
            <li>
                <div class="L"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg"><span>秦老师</span><em><i>26666</i>人咨询</em></div>
                <div class="R">
                    <span><img src="../../public/images/4013_15.png" > 4000-***-***</span>
                    <a href="#"><img src="../../public/images/4014_19.jpg">在线咨询</a>
                </div>
            </li>
        </ul>
        <div class="qttlxm">
            <div class="hx"></div>
            <div class="wz"><a href="#">其他同类项目&or;</a></div>
        </div>
    </div>

</div>
<script>
//    $('.RIGHTDY .zzdList').slide({
//        mainCell: ".bd ul",
//        autoPlay: true,
//        effect: "topMarquee",
//        vis: 3,
//        interTime: 50,
//        trigger: "click"
//    })
jQuery(".RIGHTDY .zzdList").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:4});
</script>
