<div class="XIANGMUNAMETOP">
    <div class="xmbt">
        <div class="xmbtImg"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></div>
        <div class="xmbtName">
            <h3>项目名称</h3>
            <div><span>主营产品：</span><i>洗衣</i><i>洗鞋</i><i>洗包</i><i>奢侈品皮具清洗</i></div>
            <div><span>推荐星级：</span><img src="../../public/images/xx_03.png"></div>
        </div>
    </div>
    <ul class="xmname">
        <li class="a"><span>品牌标签：</span><img src="../../public/images/sx_03.png"><span>双线收入</span></li>
        <li><span>企业名称：</span><span>企业名称：</span></li>
        <li><span>企业地址：</span><span>企业名称：</span></li>
        <li><span>成立时间：</span><span>企业名称：</span></li>
   
    </ul>
    <div class="xmzx">
        <a href="#"><img src="../../public/images/0023_18.png"><span>立即咨询</span></a>
    </div>
</div>