<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌-联系我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="关键字">
    <meta name="description" content="主要内容">
    <meta name="copyright" content="版权">
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/brands.css">
    <script src="../../public/js/jquery.1.8.0.js"></script>
    <script src="../../public/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]>
        <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start: header -->
    @@include('../common/header.html')
    <!-- end: header -->
    <!--start: 项目 top name  -->
    @@include('../common/xiangmuName.html')
    <!--end: 项目 top name  -->
    <!-- start: 品牌-联系我们  -->
    <div class="CONTACT W">

        <div class="contactLeft">

            <div class="CommonWrap">
                <h3 class="CommonBtH3">项目介绍</h3>
                <a href="#" class="CommonBtA">查看跟多项目资料&gt;</a>

            </div>
            <div class="contactList">
                <table>
                    <thead>
                        <tr>
                            <th class="tbodyName">公司名称</th>
                            <th colspan="3">公司名称</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="4">
                            <td class="tbodyName">主营产品</td>
                            <td class="tbodyJs"></td>
                            <td class="tbodyName">企业性质</td>
                            <td class="tbodyJs"></td>
                        </tr>
                        <tr>
                            <td class="tbodyName">经营模式</td>
                            <td class="tbodyJs"></td>
                            <td class="tbodyName">成立时间</td>
                            <td class="tbodyJs"></td>
                        </tr>
                        <tr>
                            <td class="tbodyName">注册资金</td>
                            <td class="tbodyJs"></td>
                            <td class="tbodyName">公司人数</td>
                            <td class="tbodyJs"></td>
                        </tr>
                        <tr>
                            <td class="tbodyName">年营业率</td>
                            <td class="tbodyJs"></td>
                            <td class="tbodyName">管理费</td>
                            <td class="tbodyJs"></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                </div>
            </div>

            <!-- start:留言板-->
            @@include('../common/message.html')
            <!-- end: 留言板-->
        </div>
        @@include('../common/rightDynamic.html')

    </div>


    <!-- end: 品牌-联系我们  -->
    <!-- start : footer -->
    @@include('../common/footer.html')
    <!-- end:footer -->

</body>

</html>