<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌-联系我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="关键字">
    <meta name="description" content="主要内容">
    <meta name="copyright" content="版权">
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/brands.css">
    <script src="../../public/js/jquery.1.8.0.js"></script>
    <script src="../../public/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]>
        <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start: header -->
    @@include('../common/header.html')
    <!-- end: header -->
    <!--start: 项目 top name  -->
    @@include('../common/xiangmuName.html')
    <!--end: 项目 top name  -->
    <!-- start: 品牌-联系我们  -->
    <div class="COST W">

        <div class="costLeft">
            <div class="constWarp">
                <h2><img src="../../public/images/1002_03.png"><span>预计初期投入<em>6.98</em>万元起</span></h2>
                <div class="xqjs">以上费用为预估，不含房租，转让费</div>
                <ul>
                    <li><img src="../../public/images/2001_07.png"><span>加盟费</span><em>6.89万万</em></li>
                    <li><img src="../../public/images/2002_07.png"><span>保证金</span><em>无</em></li>
                    <li><img src="../../public/images/2001_07.png"><span>设配费</span><em>无</em></li>
                    <li><img src="../../public/images/2001_07.png"><span>其他费用</span><em>无</em></li>
                </ul>
                <div class="xqjs"><a href="#">查看加盟费用详情&gt;</a></div>
                <table>
                    <tbody>
                        <tr>
                            <td class="jmname">加盟费</td>
                            <td class="jmzq">9999</td>
                            <td class="jmname">特许使用费</td>
                            <td class="jmzq">1200</td>
                        </tr>
                        <tr>
                            <td class="jmname">保证金</td>
                            <td class="jmzq">9999</td>
                            <td class="jmname">代理费</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td class="jmname">首批进货费</td>
                            <td class="jmzq">9999</td>
                            <td class="jmname">品牌使用费</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td class="jmname">权益金</td>
                            <td class="jmzq">9999</td>
                            <td class="jmname">设备费</td>
                            <td>1200</td>
                        </tr>
                        <tr>
                            <td class="jmname">培训费</td>
                            <td class="jmzq">9999</td>
                            <td class="jmname">管理费</td>
                            <td>1200</td>
                        </tr>

                    </tbody>
                </table>
                <div class="jsxq"><p>管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费管理费</p></div>
            </div>


            <!-- start:留言板-->
            @@include('../common/message.html')
            <!-- end: 留言板-->
        </div>
        @@include('../common/rightDynamic.html')

    </div>


    <!-- end: 品牌-联系我们  -->
    <!-- start : footer -->
    @@include('../common/footer.html')
    <!-- end:footer -->

</body>

</html>