<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="关键字">
    <meta name="description" content="主要内容">
    <meta name="copyright" content="版权">
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/brands.css">
    <script src="../../public/js/jquery.1.8.0.js"></script>
    <script src="../../public/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]>
        <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start: header -->
    @@include('../common/headerTop2.html')
    <!-- end: header -->
    <!-- start: Brands  -->
    <div class="BRANDS GGYEADD">
        <div class="Top_GGYEADD">
            <div class="xinYong_one">
                <dl class="clear dl1">
                    <dt class="fl1"> 
						<a href="#" ><img src="http://attachment.jmw.com.cn/comp_uploadfile/logo/2018/04/16/48171523858733.jpg" alt=""></a>
						<p></p>
					</dt>
                    <dd class="fr1">
                        <p class="title clear">
                            <a href="#" class="fl1 ">冰雪girl冰淇淋加盟 5-10万 实地考察选址 带店培训 免培训费</a>
                            <a href="#" class="fl1 i1"><img src="http://image1.jmw.com.cn/1831icon/Three_Star.png"></a>
                            <span class="fl1 rz"><i class="zongIcon i2 fl1"></i><em class="fl1">认证<span id="years">1</span>年</em>
                            </span>
                        </p>
                        <p class="bread">
                            <a href="#">中国加盟网首页</a>&gt;
                            <a href="#">餐饮</a>&gt;
                            <a href="#">饮品</a>&gt; 冰雪girl冰淇淋
                        </p>
                        <ul class="clear">
                            <li class="fl1"><a href="#"><i class="zongIcon i3_0 fl1"></i><em class="fl1">品牌首页</em></a></li>
                            <li class="fl1"><a href="#"><i class="zongIcon i3_1 fl1"></i><em class="fl1">优势及支持</em></a></li>
                            <li class="fl1"><a href="#"><i class="zongIcon i3_2 fl1"></i><em class="fl1">网友点评</em></a></li>
                            <li class="fl1"><a href="#"><i class="zongIcon i3_3 fl1"></i><em class="fl1">品牌图库</em></a></li>
                            <li class="fl1"><a href="#"><i class="zongIcon i3_4 fl1"></i><em class="fl1">项目介绍</em></a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="LbWrap">
            <div class="brandsLeft">
                <div class="slidetop">
                    <ul class="picList">
                        <li>
                            <a href="#">
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402041736847.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0404/20180404113827171.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="slideBottom">
                    <ul class="picList">
                        <li>
                            <a href="#">
                                <div></div>
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402041736847.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0404/20180404113827171.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                                <img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg">
                            </a>
                        </li>
                    </ul>

                    <a href="javascript:;" title="上一个" class="navPrev">
                        <img src="../../public/images/left_03.png">
                    </a>
                    <a href="javascript:;" title="上一个" class="navNext">
                        <img src="../../public/images/right_03.png">
                    </a>
                </div>
            </div>
            <div class="GGYEADDRight">
                <div class="GGYEADDR_item1">
                    <p class="fl1 p1"><span class="fl1 sp1">投资额：</span><span class="fl1 sp2"><em class="fl1 em1">￥</em><em class="fl1 em2">
							1.98							</em><font>万</font></span>起</p>
                    <!-- 投资费用 -->
                    <p class="fl1 p3"></p>
                    <p class="fl1 p4" style="width:135px;">
                        <span>加盟金：<em>1.98万</em></span><br>
                        <span>设备费：<em>无</em></span>
                    </p>
                    <p class="fl1 p4">
                        <span>保证金：<em>无</em></span><br>
                        <span>其他费用：<em>无</em></span>
                    </p>
                </div>
                <div class="GGYEADDR_item2">
                    <p class="fl1"><i class="zongIcon i4_1 fl1"></i><span class="fl1">直营店数量: 
							<em>
							1							</em></span></p>
                    <p class="fl1" style="margin-left:25px;"><i class="zongIcon i4_1 fl1"></i><span class="fl1">加盟店数量: 
							<em>
							38							</em></span></p>
                    <a onclick="messageJump()" class="allright fr1"><i class="zongIcon i5_1 fl1"></i>立即咨询</a>
                </div>
                <dl class="GGYEADDR_item3">
                    <dt class="fl1">加盟支持：</dt>
                    <dd class="fl1">
                        <p>实地考察选址</p>
                        <p>量身设计</p>
                        <p>带店培训</p>
                        <p>选址培训</p>
                        <p>技术操作培训</p>
                        <p>行业背景分析</p>
                        <p>试营业培训</p>
                        <p>营销推广培训</p>
                        <p>人员聘用培训</p>
                        <p>标准化运营手册</p>
                        <p>区域保护支持</p>
                        <p>市场调研评估</p>
                    </dd>

                </dl>
                <div class="GGYEADDR_item4">
                    <p class="fl1 cn_logo"><img src="http://image1.jmw.com.cn/haibao/images/chengnuo.png" alt=""></p>
                    <p class="fl1 p2">网站所展示的企业资料真实有效，并为其真实性负责。</p>

                    <a href="http://www.jmw.com.cn/xm6743871/promise/" title="冰雪girl冰淇淋企业承诺书" target="_blank" class="fr1 look">查看企业承诺书 &gt;</a>
                </div>
                <ul class="GGYEADDR_item5">
                    <li><i class="zongIcon i10 fl1"></i><span class="fl1">已申请  <em>107</em></span></li>
                    <li><i class="zongIcon i11 fl1"></i><span class="fl1">总访问  <em id="totalPv">2626</em></span></li>
                    <li style="border-right:none;"><i class="zongIcon i12 fl1"></i><span class="fl1">近期访问  <em id="currentMonthPv">2536</em></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="GUANGGAOSHOW" style="background: #220000">
        <img src="../../public/images/ggy_03.png" style="margin:  0 auto">

    </div>
    <div class="xixu_add">
        <div class="xixu_add_top">
            <h3>这些创业投资者<span>咨询了廖排骨</span></h3>
            <div class="nav">
                <a href="#">品牌首页</a><span>|</span>
                <a href="#">优势及支持</a><span>|</span>
                <a href="#">网友点评</a><span>|</span>
                <a href="#">品牌图库</a><span>|</span>
                <a href="#">项目介绍</a><span>|</span>
                <a href="#">品牌图库</a><span>|</span>
                <a href="#"><img src="../../public/images/ljxx_07.png"></a>
            </div>

        </div>
        <div class="xixu_add_list">
            <ul>
                <li>
                    <div class="left"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg">
                        <p>李女士</p>
                    </div>
                    <div class="right">
                        <div class="top">
                            <p>留言时间：2018-04-04 12:20:34 <span>网页版</span></p>
                            <em><img src="../../public/images/3001_11.png">回复</em>
                        </div>
                        <div class="showWd">
                            <div>此项目很好请联系我</div>
                            <p><span>廖排骨：</span>此项目很好请联系我</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- start : message_add -->
    @@include('../common/message_add.html')
    <!-- end: message_add -->
    <div class="ADD_bottom">
        <div class="ADD_bottom_list">
            <div class="ADD_bottom_item1">廖排骨加盟动态</div>
            <div class="ADD_bottom_item2">
                <div class="ADD_bottom_item2_wrap"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg"></div>
                <div class="ADD_bottom_item2_right">
                    <h3 class="H3">盘点|2018年第一季度最受关注的3个小吃项目<img src="../../public/images/tja1_07.jpg"></h3>
                    <div class="SJ">
                        <p class="SJ_LEFT"><img src="../../public/images/s_03.jpg"><span>2018-03-08 12:20:00</span></p>
                        <p class="SJ_RIGHT"><img src="" alt="">
                            <img src="../../public/images/y_03.jpg">
                            <span>1086</span>
                            <img src="../../public/images/l_03.jpg" alt="">
                            <span>200</span>
                        </p>
                    </div>
                    <div class="JS_l">话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭</div>
                </div>

            </div>
            <div class="ADD_bottom_item3">
                <ul class="dian_ADD">
                    <li><a href="#"><i></i><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a></li>
                    <li><a href="#"><i></i><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a></li>
                    <li><a href="#"><i></i><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a></li>
                    <li><a href="#"><i></i><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a></li>
                    <li><a href="#"><i></i><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a></li>
                </ul>
                <a href="#" class="ADD_BTN">查看更多加盟问答&gt;&gt;</a>
            </div>
        </div>
        <div class="ADD_bottom_list">
            <div class="ADD_bottom_item1">廖排骨加盟动态</div>
            <div class="ADD_bottom_item2">
                <div class="ADD_bottom_item2_wrap"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0413/20180413091356657.jpg"></div>
                <div class="ADD_bottom_item2_right">
                    <h3 class="H3">盘点|2018年第一季度最受关注的3个小吃项目<img src="../../public/images/tja1_07.jpg"></h3>
                    <div class="SJ">
                        <p class="SJ_LEFT"><img src="../../public/images/s_03.jpg"><span>2018-03-08 12:20:00</span></p>
                        <p class="SJ_RIGHT"><img src="" alt="">
                            <img src="../../public/images/y_03.jpg">
                            <span>1086</span>
                            <img src="../../public/images/l_03.jpg" alt="">
                            <span>200</span>
                        </p>
                    </div>
                    <div class="JS_l">话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭话麦工坊，巧燕饭</div>
                </div>

            </div>
            <div class="ADD_bottom_item3">
                <ul class="dian_ADD">
                    <li>
                        <a href="#">
                            <div>问</div><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <div>问</div><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <div>问</div><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <div>问</div><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <div>问</div><em>我想加盟朵语养发馆，请电话联系我</em><span>2018-02-02 3:00:00</span></a>
                    </li>
                </ul>
                <a href="#" class="ADD_BTN">查看更多加盟问答&gt;&gt;</a>
            </div>
        </div>
    </div>
    <script>
        $(".brandsLeft").slide({
            mainCell: ".slidetop ul",
            titCell: '.slideBottom ul li',
            autoPlay: true,
            prevCell: ".slidetop .navPrev",
            nextCell: ".slidetop .navNext",
            startFun: function(i, p) {
                if (i == 0) {
                    jQuery(".slideBottom .navPrev").click()
                } else if (i % 4 == 0) {
                    jQuery(".slideBottom .navNext").click()
                }
            }
        });
        $('.brandsLeft').slide({
            mainCell: '.slideBottom ul',
            autoPage: true,
            effect: "left",
            autoPlay: 0,
            vis: 4,
            scroll: 4,
            pnLoop: false,
            prevCell: ".slideBottom .navPrev",
            nextCell: ".slideBottom .navNext",
            trigger: 'mouseover'

        })

    </script>
    <!-- end: Brands  -->
    <!-- start : footer -->
    @@include('../common/footer.html')
    <!-- end:footer -->
</body>

</html>
