<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌-网页点评</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="关键字">
    <meta name="description" content="主要内容">
    <meta name="copyright" content="版权">
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/brands.css">
    <script src="../../public/js/jquery.1.8.0.js"></script>
    <script src="../../public/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]>
        <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start: header -->
    @@include('../common/header.html')
    <!-- end: header -->
    <!--start: 项目 top name  -->
    @@include('../common/xiangmuName.html')
    <!--end: 项目 top name  -->
    <div class="IMAGESSHOW">
        <div class="xgss">
            <p>相关搜索：</p><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a><a href="#">鱼东家酸菜鱼</a>
        </div>
        <div class="listShow">
            <div class="listLb">
                <p>鱼东家酸菜鱼赚钱吗2008</p>
                <ul class="bd">
                    <li><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></li>
                    @@for(var i =0 ;i
                    <20;i++){ <li><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></li>
                        }
                </ul>
                <a href="javascript:;" title="上一个" class="bdBavPrev"><img src="../../public/images/left_03.png"></a>
                <a href="javascript:;" title="下一个" class="bdBavNext"><img src="../../public/images/right_03.png"></a>

                <div class="bdNavWrap">
                    <div class="bdNav">
                        <ul>
                            <li><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></li>
                            @@for(var i =0 ;i
                            <20;i++){ <li><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></li>
                                }
                        </ul>

                    </div>
                    <a href="javascript:;" title="上一个" class="navPrev"><img src="../../public/images/a1.png" ></a>
                    <a href="javascript:;" title="下一个" class="navNext"><img src="../../public/images/a2.png" ></a>
                </div>
            </div>
            <div class="listShowR">
                <div class="bt">
                    <p>图片信息</p>
                </div>
                <div class="js">
                    <p>行业：餐饮美食，酸菜鱼</p>
                    <p>品牌：鱼东家</p>
                    <p>投资：1万-3万</p>
                    <p>公司名称：成都鱼东家餐饮管理有限公司</p>
                    <span><a href="#"></a>http://www.网站.com</span>
                </div>
                <div class="xiangsitup">
                    <div class="xstpBt">
                        <p>相似图片</p>
                        <span><img src="../../public/images/a001_03.png"></span>
                    </div>
                    <div class="xstpList">
                        <a href="#"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></a>
                        <a href="#"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></a>
                        <a href="#"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></a>
                        <a href="#"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></a>
                        <a href="#"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></a>
                        <a href="#"><img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg"></a>
                        <a href="#" class="xstpCkgd">查看更多图片&gt;</a>
                    </div>
                    <div class="xstpBt">
                        <p>图片标签</p>
                        <span><img src="../../public/images/a001_03.png"></span>
                    </div>
                    <div class="xstptpbq">
                        <a href="#">图片标签</a> <a href="#">图片标签</a> <a href="#">图片标签</a> <a href="#">图片标签</a> <a href="#">图片标签</a> <a href="#">图片标签</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sousuoList">
            <ul>
                <li class="item1">
                    <div><span>去商机库搜索：</span><i><a href="#">酸菜鱼</a><a href="#">鱼东家</a><a href="#">鱼东家酸菜鱼</a></i></div>
                    <div><span>去商机库搜索：</span><i><a href="#">酸菜鱼</a><a href="#">鱼东家</a><a href="#">鱼东家酸菜鱼</a></i></div>
                    <div><span>去商机库搜索：</span><i><a href="#">酸菜鱼</a><a href="#">鱼东家</a><a href="#">鱼东家酸菜鱼</a></i></div>
                </li>
                <li class="item2">
                    <div><span><img src="../../public/images/xgss_03.jpg">相关搜索</span><i><a href="#">酸菜鱼</a><a href="#">鱼东家</a><a href="#">鱼东家酸菜鱼</a></i></div>
                </li>
                <li class="item3">
                    <div><span><img src="../../public/images/h_06.jpg">相关搜索</span><i><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a><a href="#">酸菜鱼<img src="../../public/images/t_08.jpg" ></a></i></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- start : footer -->
    @@include('../common/footer.html')
    <!-- end:footer -->
    <script>
        $('.IMAGESSHOW .listShow .listLb').slide({
            titCell: '.bdNav li',
            mainCell: '.bd',
            effect: "leftLoop",
            autoPlay: true,
            prevCell: ".bdBavPrev",
            nextCell: ".bdBavNext",
            startFun: function(i, p) {
                //控制小图自动翻页
                if (i == 0) {
                    $(".IMAGESSHOW .bdNav .navPrev").click()
                } else if (i % 12 == 0) {
                    $(".IMAGESSHOW .bdNav .navNext").click()
                }
            }
        })
        $('.IMAGESSHOW .listShow .listLb').slide({
            mainCell: '.bdNav ul',
            autoPage: true,
            effect: "left",
            vis: 12,
            scroll: 12,
            prevCell: ".navPrev",
            nextCell: ".navNext"
        })

    </script>
</body>

</html>
