<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌-网页点评</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="关键字">
    <meta name="description" content="主要内容">
    <meta name="copyright" content="版权">
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/brands.css">
    <script src="../../public/js/jquery.1.8.0.js"></script>
    <script src="../../public/js/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lt IE 9]>
        <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start: header -->
    @@include('../common/header.html')
    <!-- end: header -->
    <!--start: 项目 top name  -->
    @@include('../common/xiangmuName.html')
    <!--end: 项目 top name  -->
    <!-- start: 品牌-品牌咨询  -->
    <div class="BRANDSNEWS">
        <div class="newsWrap">
            <div class="newsLeft">

                <div class="CommonWrap">
                    <h3 class="CommonBtH3">项目介绍</h3>
                    <a href="#" class="CommonBtA">查看跟多项目资料&gt;</a>

                </div>
                <div class="newsList">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="newsListImg">
                                    <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                                </div>
                                <div class="newsListRight">
                                    <h3>80后小伙看重这个商机，最终选择返乡创业</h3>
                                    <div>
                                        <span><img src="../../public/images/s_03.jpg">2018-03-20 20:34:32</span>
                                        <em><img src="../../public/images/l_03.jpg">27</em>
                                        <i><img src="../../public/images/y_03.jpg">6400</i>
                                    </div>
                                    <p>张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="newsListImg">
                                    <img src="http://attachment.jmw.com.cn/uploadfile/2018/0402/20180402054828900.jpg">
                                </div>
                                <div class="newsListRight">
                                    <h3>80后小伙看重这个商机，最终选择返乡创业</h3>
                                    <div>
                                        <span><img src="../../public/images/s_03.jpg">2018-03-20 20:34:32</span>
                                        <em><img src="../../public/images/l_03.jpg">27</em>
                                        <i><img src="../../public/images/y_03.jpg">6400</i>
                                    </div>
                                    <p>张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟张先生加盟</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div id="PAGE">
                        <a href="#" class="onC">上一页</a>
                        <a href="#" class="on">1</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">下一个</a>
                    </div>
                </div>

                <!-- start:留言板-->
                @@include('../common/message.html')
                <!-- end: 留言板-->
            </div>
            @@include('../common/rightDynamic.html')

        </div>
    </div>
    <!-- end: 品牌-品牌咨询  -->
    <!-- start : footer -->
    @@include('../common/footer.html')
    <!-- end:footer -->

</body>

</html>
